<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application>
    <service
      android:name=".BackgroundRunnerService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="dataSync"
      tools:ignore="ForegroundServicePermission" />

    <service
      android:name=".BackgroundRunnerTaskService"
      android:enabled="true"
      android:exported="false" />

    <receiver
      android:name=".BackgroundAlarmReceiver"
      android:enabled="true"
      android:exported="false" />
  </application>
</manifest>
